
<!-- Snazzy Map Style "Transport London" -->
<div id="map">
  <% content_for :javascripts do %>
    <script type='text/javascript'>
function initialize() {
 var mapStyle = [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}];

  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(34.0327939,-118.4608206,14),
    styles: mapStyle
  };

  var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);

  var markerArray = [];
  
  $('.route-link').click(function() {
    var routeLink = $(this);
  
    $.getJSON( "routes/" + routeLink.data('id'), function( data ) {

      // Delete old markers
      for (var i = 0; i < markerArray.length; i++) {
        markerArray[i].setMap(null);
      }

      console.log(markerArray)
      
      // Show and place new markers
      for (var i = 0; i < data.stops.length; i++) {
        var theStop = data.stops[i];
        var myLatLng = new google.maps.LatLng(theStop.stop_lat, theStop.stop_lon);
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });

        // save markers in an array
        markerArray[i] = marker;

      }
    });
  });

}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %> 
</div>
