<!-- shows top navbar -->
<%= render partial: "layouts/nav" %>

<div class="right-sidebar">
	<!-- show songs for route -->
	<%= render partial: "layouts/songs" %>
</div>

<!-- shows gmap full screen -->
<%= render partial: "gmaps" %>