// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
height: 100%;
width: 100%;
margin: 0 auto;
position: absolute;
z-index: -1;
}

.left-off-canvas-menu ul li {
	max-height: 300px;
    overflow-y: auto;
    width: 200px;

}

.left-off-canvas-toggle{
	font-size: 30px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border-radius: 10px;
}



.off-canvas-wrap.move-right {
	margin-top: -20px;
	width: 250px;
}




.left-off-canvas-menu {
	background-color: white;
	font-size: 20px;
	font-weight: bold; 
	float: left; 
	width: 210px; 
	background: #ccc;
	position: relative; 
	z-index: 1;
	height: 650px;
	border-radius: 13%;
	border: 3px solid white;
	height: 550px;

}
.left-off-canvas-menu ul li  { 
	position: relative; 
	width: 100%; 
}


.left-off-canvas-menu ul li:hover { 
	color: #000; 
}

.left-off-canvas-menu { 
	display: block; 
	padding: 20px 8px; 
	color: #222; 
	position: relative; 
	z-index: 2000; 
}

.left-off-canvas-menu ul li:hover { 
	background: #F3D673; 
	position: relative; 
}

.canvastitle {
	text-align: center;
	font-size: 20px;
}

.dropdown { 
	display: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 180px; 
	z-index: 1000;
	 }

left-off-canvas-menu { 
	font-weight: normal; 
	background: #f6f6f6; 
	color: #000; 
	border-bottom: 1px solid #ccc;
 }

left-off-canvas-menu { 
	display: block;
	 background: #eee !important; 
}

left-off-canvas-menu:hover	{ 
	display: block;
	background: #F3D673 !important; 
}